<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="logo.png" width="65px" height="50px" alt="poop">
    <a class="navbar-brand" style="font-size: 30px; color: black;" href="/">Redlife</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:black;font-size: 17px" href="about.html" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            About us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="index.html">Home</a></li>
            <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:black;font-size: 17px" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Blood bank login
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/bloodbankReg">Add your Blood bank </a></li>
            <li><a class="dropdown-item" href="/BBlogin">Blood bank Login </a></li>
          </ul>
        </li>
    </div>
  </div>
</nav>