<br><br>

<div class="card-container">
  <div class="donorcard">
    <img src="donate2.png">
    <h2>Donate</h2>
    <p>Regular blood donation is linked to lower blood pressure and a lower risk for heart attacks.It helps to reduce cardiovascular risk factors.</p>
    <a href="/donorReg" style="text-decoration: none;">Donate</a>
  </div>
  <div class="donorcard">
    <img src="receive.jpg">
    <h2>Receive</h2>
    <p>A patient can receive blood that has the same ABO antigens as theirs, plus O. Rh+ can receive Rh+ or Rh-, while Rh- must receive Rh- blood.</p>
    <a href="/bloodAvailability" style="text-decoration: none;">Blood Availability</a>
  </div>
</div>
<br><br>

<div class="card-container">
  <div class="bloodcard">
    <img src="BloodDonation.jpeg">
    <h2>Learn About Donation</h2>
    <p>After donating blood, the body works to replenish the blood loss. This stimulates the
        production of new blood cells and in turn, helps in maintaining good health.Donors of whole blood donations
        should weigh at least 45 kg to donate 350 ml ± 10%.
        You must be in good health at the time you donate.</p>
    
  </div>
  <div class="bloodcard">
    <img src="https://www.scienceabc.com/wp-content/uploads/ext-www.scienceabc.com/wp-content/uploads/2017/03/Red-blood-cell-compatibility-table-coolfeed.co_.jpg-.jpg">
    <h2>Blood Compatibility</h2>
    <p>It is to check potential incompatibilities between blood group systems in blood tranfusions.
        Group O is an Universal donor and group AB is Universal recepient</p>
    
  </div>
  <div class="bloodcard">
    <img src="blood.jpg">
    <h2>Types of donation</h2>
    <p>The human body contains five liters of blood, which is made of several useful components
        i.e. Whole blood, Platelet, and Plasma.

        Each type of component has several medical uses and can be used for different medical treatments. your blood
        donation determines the best donation for you to make.</p>
    
  </div>
</div>