<section class="home-section">

  <div align="center">
    <h3 style="font-size: 35px;padding-top: 10px;margin-bottom: 0px;padding-bottom: 25px;">Dashboard</h3>
  </div>
  <div class="home-content" style="padding-top: 0px;">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Donors</div>
          <div class="number" data-target="101"></div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <img src="blood-extraction.png" alt="" style="height:55px;width:80px;padding-left:20px;">
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Blood unit(L)</div>
          <div class="number" data-target="100"></div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <img src="blood-drop.png" alt="" style="height:55px;width:80px;padding-left:20px;">
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Blood banks</div>
          <div class="number" data-target="150"></div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <img src="blood-bank.png" alt="" style="height:55px;width:80px;padding-left:20px;">
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Recepients</div>
          <div class="number" data-target="92"></div>
          <div class="indicator">
            <i class='bx bx-down-arrow-alt down'></i>
            <span class="text">Down From Today</span>
          </div>
        </div>
        <img src="blood-bag.png" alt="" style="height:55px;width:80px;padding-left:20px;">
      </div>
    </div>
   

  </div>
  </div>
</section>