<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>About us</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="gallery.html">Gallery</a></li>

          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>Want Blood</h3>
          <ul>
            <li><a href="/bloodAvailability">Blood availability</a></li>

          </ul>
        </div>

        <div class="col-sm-4 col-md-3 item">
          <h3>Donate Blood</h3>
          <ul>
            <li><a href="/donorReg">Donor Registration</a></li>
            <li><a href="BloodDonationCamps.html">Donor Login</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>24/7 Helpline</h3>
          <ul>
            <li><a href="https://mail.google.com/mail/">redlife324@gmail.com</a></li>
            <li><a href="#">toll-free: 1800-372-344</a></li>
            <li><a href="#">6700-948-434</a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>
  </div>